{% extends 'flatpages/default_base.html' %}



{% block nav_2 %}
   {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
   {% if perms.news.add_post %}
   <!-- Responsive navbar my part 2-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'new_create' %}">Add new</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'article_create' %}">Add article</a>
                    </li>
                   <li class="nav-item active">
                        <a class="nav-link" href="{% url 'subscriptions' %}">Subscriptions</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
   {% endif %}
{% endblock nav_2 %}

{% block content %}
{% endblock content %}